<div id="store" class="scroll-container">
		

		<div class=" col-xs-12" >
		    <div class="input-group">
		      <input type="text" ng-model="searchkey" class="form-control" placeholder="Search for movies...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="searchMovie(searchkey)">Go!</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		  <div class="col-xs-12" ng-show="dvds.length == 0">
		  <div class="alert alert-danger alert-dismissible" role="alert">
		  	 <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
		  	No movie found ! Please refine your search</div>
		  </div>

		<!-- <div class="well">Search Movie</div> -->
		<div class="movie-gallery">
			<div class="dvd-panel col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="dvd in dvds">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{dvd.poster_path}}" ng-click="viewMovie(dvd.id,dvd.original_title,dvd.overview)" >
				
				<div class="footer">
					<button class="btn btn-block btn-danger visible-xs visible-sm hidden-md hidden-lg"  ng-click="viewMovie(dvd.id,dvd.original_title,dvd.overview)">Details</button>
					<button class="btn btn-block" ng-class="isWished(dvd.id)? 'btn-success' : 'btn-warning'" ng-click="addToWishlist(dvd.id,dvd.poster_path,dvd.original_title)" >{{isWished(dvd.id)? 'ADDED':'ADD TO WISHLIST'}}</button>
				</div>
			</div>

		</div>

</div>