.scroll-container{
	
	overflow: scroll;
}
.movie-gallery{
	margin-top: 50px;
}
.alert{
	margin-top: 15px;
}
::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}
.dvd-panel {
   /* width: 200px;
    height: 300px;*/
    min-height: 300px;
    /* border: 5px solid yellow; */
    margin-bottom: 60px;
    float: left;
     padding: 5px; 
    /*margin-right: 20px;*/
    /*background-color: red;*/
}
.dvd-panel img{
	width: 100%;
	height: 250px;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
	z-index: 1;
	
}
@media screen only (max-width: 768px){
	.dvd-panel img{
		height: 350px;
	}
}

.dvd-panel img:hover{
	cursor: pointer;
	opacity: 0.1;
	

	
}
.dvd-panel .footer{
	background-color: white;
	padding: 5px;
	text-align: center;
	width: 100%;
	font-size: large;

}

.btn-detail{
	position: relative;
    top: -150px;
    left: 70px;
    display: block;
    z-index: -1;
    background-color: #D8110B;
}

/*.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .30s ease-in-out;
  
}
.modal-backdrop.am-fade.ng-enter , .modal-backdrop.am-fade.ng-leave-active{
	 opacity: 0;
}
.modal-backdrop.am-fade.ng-enter-active, .modal-backdrop.am-fade.ng-leave{
	 opacity: 0.5;
}*/

.modal.am-fade {
  transform: scale(1,1);
  transition: transform .30s ease-in-out;
  
}
.modal.am-fade.ng-enter {
	transform: scale(0,0);
}
.modal.am-fade.ng-enter-active{
	 transform: scale(1,1);
}
.modal.am-fade.ng-leave {
	transform: scale(1,1);
}
.modal.am-fade.ng-leave-active {
	transform: scale(0,0);
}
