/* LESS variables */
@header-bg : gray;
@header-color : black;
@sidemenu-bg: black;
@sidemenu-color: gray;


/* End LESS variables */

body{
	font-size: 15px;
}
.container-fluid{
	padding: 0px;
}

.menu-wrapper{
	background-color: @sidemenu-bg;
	color: white;
	width: 250px;
	left: 0px;
	padding-left: 20px;
	padding-top: 20px;
	height: 100%;
	position: absolute;
	-webkit-transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	transition: left 0.3s linear;
}

header{
	background-color: @header-bg;
	padding: 10px;
}
header .brand a{
	text-decoration: none;
	color: @header-color;
	font-size: x-large;
	font-weight: bolder;


}
header .brand a:hover{
	text-decoration: none;
	cursor: pointer;
	color: darkgray;
	
}
.avatar{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid darkgrey;
}
.menu-item-wrapper{
	padding-top: 30px;
}
.menu-item-wrapper li{
	padding-bottom: 10px;
	padding-left: 10px;
}
.menu-item-wrapper li a{
	font-size: medium;
	text-decoration: none;
	color: @sidemenu-color;
	-webkit-transition: font-size 0.2s linear;
	-moz-transition: font-size 0.2s linear;
	transition: font-size 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	transition: color 0.2s linear;
	
}
.menu-item-wrapper  li a:hover{
	cursor: pointer;
	color: white;
	font-size: large;
}
.content-wrapper{
	margin-left: 280px;
	padding-top: 5px;
	-webkit-transition: margin-left 0.3s linear;
	-moz-transition: margin-left 0.3s linear;
	transition: margin-left 0.3s linear;
	
}
.box{
	width: 50px;
	height: 50px;
	background-color: red;
	opacity: 0.2;
	border-radius: 0%;
	transition: opacity 0.5s linear;
	transition: border-radius 0.5s linear;
}
.box:hover{
	opacity: 1;
	border-radius: 50%;
}
/*.page-partial,.page-partial.animate-remove-active{
	margin-left: 100%;
}

.page-partial.animate-add ,.page-partial.animate-remove {
	transition: margin-left 0.3s ease;
}

.page-partial.animate,.page-partial.animate-add-active {
	
	margin-left: 0%;
}*/

.mt-modal{
	position: absolute;
	background-color: cornsilk;
	width: 30%;
	left: 35%;
	height: 200px;
	z-index: 2;
	display: none;
	box-shadow: 10px 10px 5px #888888;
}
.mt-modal  .mt-title{
	text-align: left;
    background-color: darkorange;
    font-size: large;
    font-weight: bold;
    color: white;
    padding-left: 5px;
}
.mt-modal p{
	padding: 5px;
}
#backdrop{
    width: 100%;
    height: 100%;
    background-color: #999CA0;
    opacity: 0.8;
    position: absolute;
    z-index: 1;
    display: none;
}

.alert-container.ng-leave{
	transition: opacity 1s, transform 1s;
}
.alert-container.ng-leave-active{
	opacity: 0;
	transform: scale(0,0);
}
.alert-container.ng-enter{
	transform: scale(0,0);
	transition: opacity 1s, transform 1s;
}
.alert-container.ng-enter-active{
	opacity: 1;
	transform: scale(1,1);
}
.page-partial.ng-enter{
	opacity: 0;
	margin-left: 0%;
	transition: opacity 2s , margin-left 2s ease-in-out;
}
.page-partial.ng-enter-active{
	opacity: 1;
	margin-left: 0%;
}
.page-img{
	width: 100px;
	height: 100px;
	background-color: red;
}
.page-img img{
	max-width: 50%;
}
/* for phones */

@media (max-width: 768px) {
.menu-wrapper{
	left: -200px;
	padding-left: 200px;

}
.content-wrapper{
	margin-left: 80px;
}

}