body{
	font-size: 15px;
}
.container-fluid{
	padding: 0px;
}

.menu-wrapper{
	background-color: black;
	color: white;
	width: 250px;
	left: 0px;
	padding-left: 20px;
	padding-top: 20px;
	height: 100%;
	position: absolute;
	transition: left 0.3s linear;
	-moz-transition: left 0.3s linear;
	-webkit-transition: left 0.3s linear;
}

header{
	background-color: gray;
	padding: 10px;
}
header .brand a{
	text-decoration: none;
	color: black;
	font-size: x-large;
	font-weight: bolder;


}
header .brand a:hover{
	text-decoration: none;
	cursor: pointer;
	color: darkgray;
	
}
.menu-item-wrapper{
	padding-top: 30px;
}
.menu-item-wrapper li{
	padding-bottom: 10px;
	padding-left: 10px;
}
.menu-item-wrapper li a{
	font-size: medium;
	text-decoration: none;
	color: gray;
	transition: font-size 0.2s linear;
	-moz-transition: font-size 0.2s linear;
	-webkit-transition: font-size 0.2s linear;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	
}
.menu-item-wrapper  li a:hover{
	cursor: pointer;
	color: white;
	font-size: large;
}
.content-wrapper{
	margin-left: 280px;
	
	transition: margin-left 0.3s linear;
	-moz-transition: margin-left 0.3s linear;
	-webkit-transition: margin-left 0.3s linear;
	
}
.box{
	width: 50px;
	height: 50px;
	background-color: red;
	opacity: 0.2;
	transition: opacity 0.5s linear;
}
.box:hover{
	opacity: 1;
}

/* for phones */

@media (max-width: 768px) {
.menu-wrapper{
	left: -200px;
	padding-left: 200px;

}
.content-wrapper{
	margin-left: 80px;
}

}