/* line 1, ../sass/partials/_modal.scss */
.modal-header {
  background-color: #eea236;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: bolder;
  color: #FFFFFF;
}

/* line 9, ../sass/partials/_modal.scss */
.modal.am-fade {
  transform: scale(1, 1);
  transition: transform .30s ease-in-out;
}

/* line 14, ../sass/partials/_modal.scss */
.modal.am-fade.ng-enter {
  transform: scale(0, 0);
}

/* line 17, ../sass/partials/_modal.scss */
.modal.am-fade.ng-enter-active {
  transform: scale(1, 1);
}

/* line 20, ../sass/partials/_modal.scss */
.modal.am-fade.ng-leave {
  transform: scale(1, 1);
}

/* line 23, ../sass/partials/_modal.scss */
.modal.am-fade.ng-leave-active {
  transform: scale(0, 0);
}
